<smsf-sidebar [title]="id?cs.L('edit'):cs.L('add')" position="right"
    styleClass="ui-sidebar-md" [baseZIndex]="10000" [(visible)]="sidebarVisible">
  <div class="ui-sidebar-label"><th translate>{{cs.L('tat.field.id')}}</th></div>
  <div class="ui-sidebar-control">
    <input type="text" pInputText [(ngModel)]="data.id"/>
  </div>
  <div class="ui-sidebar-label"><th translate>{{cs.L('tat.field.process')}}</th></div>
  <div class="ui-sidebar-control">
    <p-dropdown [options]="processOptions" [(ngModel)]="data.processId" (onChange)="changeProcessOptions($event)" [style]="{'width':'100%'}"
     filter="true" placeholder="Select Process"></p-dropdown>
  </div>
  <div class="ui-sidebar-label"><th translate>{{cs.L('tat.field.tat')}}</th></div>
  <div class="ui-sidebar-control">
    <input type="text" pInputText [(ngModel)]="data.tat"/>
  </div>
  <div class="ui-sidebar-buttons">
    <button pButton type="button" (click)="close()" [label]="cs.L('cancel')" class="ui-button-secondary"></button>
    <button pButton type="button" (click)="save()" [label]="cs.L('save')" class="ui-button-info"></button>
  </div>
</smsf-sidebar>
